body {
  width: 100%;
  max-width: 100%;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}
.footer {
  margin-top: auto;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}

main a {
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

address {
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

figure {
  .reset();
}

textarea,
input,
button,
select {
  font-family: "Nunito Sans", "Arial", sans-serif;
  color: #444;
  border: none;
}
.owl-theme .owl-nav [class*=owl-],
.owl-theme .owl-nav [class*=owl-],
textarea,
input,
button,
select,
a {
  outline: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none !important;
  
  &:hover,
  &:active,
  &:focus { 
    outline: none !important;
  }
}
button {
  padding: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
}

.privacy_policy {    
  padding: 10px;
  border-top:3px solid #5CA94E;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 500;
  left: 0;
  right: 0;
  background: #ffffff;
}

.privacy_policy a {
  color: #5CA94E; 
  font-weight: bold;
}

.privacy_policy .button {
  color: #F95454;
  cursor: pointer;
}
h1,
.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  text-transform: uppercase;
  color: #000;
}
h2,
.title-2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000;
  
  a {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #828282;
    text-decoration: none;
    text-transform: none;
    .transition();
    
    &:hover,
    &:active {
      color: #000;
      .transition();
    }
  }
}
h3,
.title-3 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}
h4,
.title-4 {
  margin-bottom: 20px;
  margin-top: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000;
}
section {
  margin-bottom: 60px;
}