.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 46px;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #5D3589;
  background-image: linear-gradient(90deg, #9945B7 0%, #313681 100%);
  border-radius: 8px;
  
  &:hover,
  &:active {
    background-image: none;
  }
}
.btn--border {
  position: relative;
  z-index: 1;
  background-color: rgba(255,255,255,0);
  
  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border-radius: 7px;
    background: #fff;
    .transition();
  }
  span {
    position: relative;
    z-index: 3;
    background: linear-gradient(90deg, #9945B7 0%, #313681 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    .transition();
  }
  &:hover,
  &:active {
    background-color: #5D3589;;
    background-image: linear-gradient(90deg, #9945B7 0%, #313681 100%);
    
    span {
      color: #fff;
      background: none;
      -webkit-text-fill-color: #fff;
      text-fill-color: #fff;
      .transition();
    }
    &::before {
      opacity: 0;
      .transition();
    }
  }
}