@media (max-width: 1440px) {
  .brands__slider .owl-nav button.owl-next,
  .gallery__slider .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-next {
    right: ~"calc(50% - 680px)";
  }
  .brands__slider .owl-nav button.owl-prev,
  .gallery__slider .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-prev {
    left: ~"calc(50% - 680px)";
  }
}
@media (max-width: 1300px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 5px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 5px;
  }
  .gallery__slider .owl-nav button.owl-next,
  .brands__slider .owl-nav button.owl-next {
    right: 0;
  }
  .gallery__slider .owl-nav button.owl-prev,
  .brands__slider .owl-nav button.owl-prev {
    right: 60px;
    left: auto;
  }
  .gallery__slider .owl-nav button.owl-next,
  .gallery__slider .owl-nav button.owl-prev,
  .brands__slider .owl-nav button.owl-next,
  .brands__slider .owl-nav button.owl-prev {
    margin-top: 0;
    top: -30px;
  }
  .gallery__slider .owl-nav button.owl-next,
  .gallery__slider .owl-nav button.owl-prev {
    top: -70px;
  }
  .catalog__slider {
    margin-right: -10px;
  }
  .catalog__slide {
    margin-right: 20px;
  }
  .menu__drop {
    padding: 20px;
  }
  .menu__brands {
    padding-left: 20px;
  }
  .menu__drop {
    width: 880px;
  }
}
//-----------------------------------------------
@media (max-width: 1260px) {
  .menu-mobile {
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    order: 6;
  }
  .header__block span {
    display: none;
  }
  .header__block a {
    font-size: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .header__block {
    padding: 0;
    
    &--email a {
      background-image: url(../img/icons/email.svg);
    }
    &--phone a {
      background-image: url(../img/icons/phone.svg);
    }
    &::before,
    &--time {
      display: none;
    }
  }
  .logo {
    order: 1;
  }
  .header__btn {
    order: 2;
    margin-left: auto;
  }
  .header__block--email {
    order: 3;
    margin-left: 20px;
  }
  .header__block--phone {
    order: 4;
    margin-left: 20px;
  }
  .header__user {
    order: 5;
    margin-left: 20px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .menu {
    display: none;
  }
  .fan__info {
    width: calc(100% - 200px);
  }
  .catalog__slider {
    margin-right: 0;
    
    .owl-nav button.owl-next,
    .owl-nav button.owl-prev {
      top: -70px;
      margin-top: 0;
    }
    .owl-nav button.owl-next {
      right: 0;
    }
    .owl-nav button.owl-prev {
      right: 60px;
      left: auto;
    }
  }
  .catalog__slide {
    margin-bottom: 80px;
  }
  .info__block {
    width: 100%;
    
    &:first-child {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 4;
    }
    &:nth-child(4) {
      order: 3;
    }
  }
  .footer__item {
    font-size: 12px;
    line-height: 1.2;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
  .footer__link--email {
    order: 1;
    width: 33%;
  }
  .footer__link--phone {
    order: 2;
    width: 33%;
  }
  .footer__payment {
    order: 3;
    width: 33%;
  }
  .footer__text {
    order: 4;
    max-width: 100%;
  }
  .footer__info {
    order: 5;
    max-width: 100%;
    width: 33%;
  }
}
//----------------------------------------------
@media (max-width: 1022px) {
  .promo__title {
    font-size: 36px;
    line-height: 1.3;
  }
  .promo__wrap {
    width: 550px;
  }
  .article__wrap {
    display: block;
  }
  .article__info {
    width: 100%;
  }
  .article__img {
    margin-bottom: 20px;
  }
}
//----------------------------------------------
@media (max-width: 700px) {
  .header__btn {
    display: none;
  }
  .logo {
    max-width: 100px;
    
    img {
      display: block;
    }
  }
  .promo__title {
    font-size: 30px;
  }
  .fan__wrap {
    display: block;
  }
  .fan__info {
    width: 100%;
  }
  .fan__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  h1,
  .title {
    font-size: 36px;
    line-height: 1.2;
  }
  h2,
  .title-2 {
    font-size: 24px;
    line-height: 1.2;
  }
  .article__attention {
    font-size: 16px;
    line-height: 24px;
    padding-left: 30px;
  }
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-prev {
    width: 30px;
    height: 30px;
  }
  .promo__wrap {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .gallery__slider .owl-nav button.owl-next,
  .gallery__slider .owl-nav button.owl-prev {
    top: -60px;
  }
  .brands__slider .owl-nav button.owl-prev,
  .gallery__slider .owl-nav button.owl-prev {
    right: 45px;
  }
  .gallery__text {
    padding: 10px;
    font-size: 14px;
    line-height: 1.3;
  }
  .title-2 a {
    display: block;
    margin-left: 0;
  }
  .info__link {
    display: block;
  }
  .info__text {
    width: 100%;
    padding: 20px;
  }
  .info__img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .brands {
    margin-bottom: 40px;
  }
  .footer__nav {
    display: none;
  }
  .footer__bottom {
    flex-direction: column;
    align-items: center;
  }
  .footer__text,
  .footer__payment,
  .footer__info {
    width: 100%;
    text-align: center;
  }
  .footer__link--email,
  .footer__link--phone {
    width: 200px;
    margin-bottom: 20px;
  }
  .footer__payment {
    margin-bottom: 20px;
  }
  .footer__info {
    margin-top: 20px;
  }
  .form__line,
  .modal__product {
    display: block;
  }
  .modal__block,
  .form__line .form__input,
  .modal__info {
    width: 100%;
  }
  .modal__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .modal__line {
    flex-direction: column;
  }
  .modal__block {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .modal__name {
    text-align: center;
  }
  blockquote {
    padding: 30px;
    padding-left: 80px;
    font-size: 16px;
    line-height: 24px;
    
    &:before {
      top: 30px;
      left: 30px;
    }
  }
  .article table {
    font-size: 12px;
    line-height: 1.2;
    
    th {
      font-size: 10px;
    }
  }
  .article__comment {
    font-size: 14px;
    line-height: 1.2;
  }
  .article table td:first-child,
  .article table th:first-child {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
//----------------------------------------------
@media (max-width: 480px) {
  .header__link {
    width: 30px;
    height: 30px;
  }
  .menu-mobile {
    margin-left: 20px;
  }
  .header__user,
  .header__block--phone,
  .header__link--cart {
    margin-left: 10px;
  }
  .logo {
    max-width: 70px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(54, 34, 79, 0.1);
  }
  .promo__slide {
    height: 100vh;
  }
  .promo__title {
    font-size: 28px;
  }
  .catalog__slider .owl-nav button.owl-next,
  .catalog__slider .owl-nav button.owl-prev {
    top: -45px;
  }
  .info__img {
    width: 100%;
    margin: 0;
    float: none;
    
    img {
      width: 100%;
      height: auto;
    }
  }
  .title, h1 {
    font-size: 32px;
  }
  blockquote {
    padding-left: 30px;
    padding-top: 70px;
  }
  .article table,
  .article table tbody,
  .article table tr,
  .article table td {
    display: block;
    text-align: center;
    
    th {
      display: none;
    }
    td {
      border: 0 !important;
      height: auto;
    }
    tr {
      border-bottom: 1px solid #E8E8E8;
    }
  }
  .article table td:first-child {
    width: 100%;
    font-weight: 600;
  }
}