@media (max-width: 1440px) {
  .brands__slider .owl-nav button.owl-next,
  .gallery__slider .owl-nav button.owl-next,
  .owl-carousel .owl-nav button.owl-next {
    right: ~"calc(50% - 680px)";
  }
  .brands__slider .owl-nav button.owl-prev,
  .gallery__slider .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-prev {
    left: ~"calc(50% - 680px)";
  }
}
@media (max-width: 1300px) {
  .owl-carousel .owl-nav button.owl-next {
    right: 5px;
  }
  .owl-carousel .owl-nav button.owl-prev {
    left: 5px;
  }
  .brands__slider {
    padding-bottom: 50px;
  }
  .brands__slider .owl-nav button.owl-next {
    right: 45%;
  }
  .brands__slider .owl-nav button.owl-prev {
    left: 45%;
  }
  .brands__slider .owl-nav button.owl-next,
  .brands__slider .owl-nav button.owl-prev {
    margin-top: 0;
    bottom: 0;
    top: auto;
  }
  .gallery__slider .owl-nav button.owl-next,
  .gallery__slider .owl-nav button.owl-prev {
    display: none;
  }
  .catalog__slider {
    margin-right: -10px;
  }
  .catalog__slide {
    margin-right: 20px;
  }
  .menu__drop {
    padding: 20px;
  }
  .menu__brands {
    padding-left: 20px;
  }
  .menu__drop {
    width: 880px;
  }
}