.menu {
  background: linear-gradient(90deg, #9945B7 0%, #313681 100%);
}
.menu__brandlist,
.menu__droplist,
.menu__sublist,
.menu__list {
  .reset();
  list-style: none;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__item {
  position: relative;
  
  &:hover {
    .menu__sublist {
      display: block;
    }
    .menu__link {
      color: #FFEB33;
      .transition();
      
      svg {
        fill: #FFEB33;
        .transition();
      }
      &::before {
        opacity: 1;
        .transition();
      }
    }
  }
}
.menu__link {
  position: relative;
  display: block;
  padding: 20px 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
  .transition();
  
  span,
  svg {
    display: inline-block;
    vertical-align: middle
  }
  svg {
    width: 20px;
    height: 20px;
    fill: #fff;
    margin-right: 15px;
    .transition();
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #FFEB33;
    opacity: 0;
    .transition();
  }
}
.menu__sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 350px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(54, 34, 79, 0.1);
  border-radius: 0px 0px 4px 4px;
}
.menu__subitem {
  position: relative;
  z-index: 2;
  .transition();
  
  &:hover,
  &:active {
    background-color: #F7F6FA;
    .transition();
    
    .menu__drop {
      display: flex;
    }
  }
}
.menu__sublink {
  position: relative;
  z-index: 3;
  display: flex;
  padding: 17px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000;
  
  img {
    display: block;
    width: 22px;
    height: 22px;
    margin-right: 16px;
  }
}
.menu__arrow {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
  width: 42px;
  background-image: url(../img/icons/arrow.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: left center;
}
.menu__drop {
  display: none;
  position: absolute;
  left: 100%;
  top: -15px;
  width: 903px;
  padding: 40px;
  padding-bottom: 20px;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(54, 34, 79, 0.1);
  border-radius: 0px 0px 4px 4px;
}
.menu__droplist {
  width: 237px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  border-right: 1px solid #E8E8E8;
  
  li:not(:last-child) {
    margin-bottom: 15px;
    
    a:hover,
    a:active {
      color: #5D3589;
    }
  }
}
.menu__brands {
  display: block;
  width: 568px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #000;
  padding-left: 40px;
  
  span {
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #000;
  }
  a:hover,
  a:active {
    color: #5D3589;
  }
}
.menu__brandlist {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  
  li {
    width: 25%;
    margin-bottom: 7px;
    color: #000000;
  }
}
.menu__more {
  display: block;
  color: #5D3589;
  
  &:hover,
  &:active {
    text-decoration: underline;
  }
}